
<app-blank title="Product Add" navMainTitle="Product Add">
    <div class="row center">
        <div class="col-md-6">
            <form #addForm="ngForm" (ngSubmit)="add(addForm)" autocomplete="off">
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input 
                    type="text"
                    name="name"
                    id="name"
                    ngModel
                    required
                    #name
                    minlength="3"
                    class="form-control"
                    [appValid]="name.validity.valid">
                    <div class="invalid-feedback">
                        This Product shuld be grather than 3!
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="name">Product Stock</label>
                    <input 
                    type="number"
                    name="stock"
                    id="stock"
                    ngModel
                    required
                    #stock
                    min="1"
                    class="form-control"
                    [appValid]="stock.validity.valid">
                    <div class="invalid-feedback">
                        This Product stock per must be grather than 0!
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="categoriesSelect">Categories</label>
                    <select
                    class="form-control"
                    name="categoriesSelect"
                    id="categoriesSelect"
                    ngModel
                    multiple
                    #categoriesSelect
                    >
                        <option [value]="category._id" *ngFor="let category of categories">{{category.name}}</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label for="name">Product Price</label>
                    <input 
                    type="number"
                    name="price"
                    id="price"
                    ngModel
                    required
                    #price
                    min="1"
                    class="form-control"
                    [appValid]="price.validity.valid">
                    <div class="invalid-feedback">
                        This Product price per price must be grather than 0!
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="images">Product Images</label>
                    <input 
                    type="file"
                    name="images"
                    id="images"
                    ngModel
                    multiple
                    class="form-control"
                    (change)="getImages($event)">
                </div>
                <hr/>
                <div class="form-group mt-2">
                    <p>Selected Images</p>
                    <span (click)="removeImage(image.name, image.size, i)" *ngFor="let image of imageUrls let i = index">
                        <img [src]="image.imageUrl" width="100" class="mx-1">
                    </span>
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-outline-primary w-100">Save</button>
                </div>
            </form>
        </div>
    </div>
</app-blank>